---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Actualmente...",
    title: "Fullstack Web Developer Jr",
    company: "Yo Contigo It",
    description:
      "Soy responsable de desarrollar software utilizando tecnologías como JavaScript, TypeScript, Angular, AngularJS y React Native. Lidero un equipo en un proyecto interno, asegurando el cumplimiento de objetivos y plazos. En un proyecto móvil con React Native, implementé una arquitectura limpia y hexagonal junto con el patrón MVVM. Participo en reuniones con clientes para generar más requerimientos y colaboro con mi equipo para planificar, diseñar y ejecutar tareas, aplicando habilidades técnicas y de colaboración. También soy responsable de hacer el software responsivo, realizar builds en iOS y publicarlas en la App Store, además de documentar las características desarrolladas.",
    // link: "https://twitch.tv/midudev",
    image: 'companies/yo-contigo-it.webp',
  },
  {
    date: "Mayo 2023 - Octubre 2023",
    title: "Intern Fullstack Web Developer",
    company: "Clever Cloud",
    image: 'companies/clever-cloud.webp',
    description:
      "Durante mi experiencia, me he especializado en desarrollar historias de usuarios con JavaScript, Vue.js, Python y PHP. He trabajado en equipos ágiles con metodologías Scrum, usando herramientas como Jira, Bitbucket y Confluence. Soy hábil documentando historias de usuario en Confluence y trabajando en equipo para planificar y ejecutar proyectos, combinando habilidades técnicas y colaborativas para lograr resultados excepcionales.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
